[package]
name = "client"
version = "0.1.2"
edition.workspace = true

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
ratatui.workspace = true
crossterm.workspace = true
rand.workspace = true
shared = { path = "../shared" }
