[package]
name = "server"
version = "0.1.2"
edition.workspace = true

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
rand.workspace = true
shared = { path = "../shared" }
